/****** MY COLORS ******/
:root {
    --bg-filter: #c8c8c814;
    --black: #000000;
    --blue-1: #5f97ff;
    --blue-2: #5bc0de;
    --blue-3: #46b8da;
    --dark-1: #161616;
    --dark-gray: #202020;
    --gray-1: #313131;
    --green-1: #5cb85c;
    --green-2: #4cae4c;
    --light-gray-1: #5e5e5e;
    --transparent-gray-1: #e2dbb897;
    --light-gray-1: #5e5e5e;
    --light-gray-2: #c5c5c5;
    --light-blue-1: #0EF1FF;
    --light-blue-2: #c2fcff;
    --light-green: #32AC1E;
    --light-green-hover: #3ac924;
    --red-1: red;
    --red-2: #d9534f;
    --red-3: #d43f3a ;
    --orange-1: #F7AF1D;
    --orange-2: #f0ad4e;
    --orange-3: #eea236;
    --white: #ffffff;
    --test: #ffffff00;
}
/****** END OF MY COLORS ******/

/****** ELEMENTS ******/
hr {
    background-color: var(--light-gray-1); 
    height: 0.5px;
    border: none;}
/****** END OF ELEMENTS ******/

/****** MESSAGE COLORS ******/
.global-message {
    position: fixed;
    bottom: 10px;
    right: 10px;
    min-width: 500px;
    border-radius: 50px;
    color: #fff;
    z-index: 2; }
.global-message.info {
    background-color: #4586ff; }
.global-message.error {
    background-color: #d81d1d; }
/****** END OF MESSAGE COLORS ******/

/************ USER SIDE ************/
/****** LAYOUTS (all the things that apear on every page) ******/
/* Layout */
.nav-layout-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    height: 50px; }
.nav-layout-container .nav-layout-logo-container {
    display: flex;
    align-items: center;
    min-width: fit-content; }
.nav-layout-container .nav-layout-logo-container img {
    width: 25px;
    height: 25px; }
.nav-layout-container .nav-layout-logo-container h1 {
    margin: 0 0 0 10px;
    font-size: 28px; }    
    @media screen and (max-width: 350px) {
    .nav-layout-container .nav-layout-logo-container img {
        width: 15px;
        height: 15px; }
    .nav-layout-container .nav-layout-logo-container h1 {
        margin: 0 0 0 10px;
        font-size: 15px; } }
.nav-layout-container .nav-layout-btns-container {
    min-width: fit-content; }
#colorlib-logo .logo-route,
.admin-sidebar-header .admin-logo-container {
    display: flex; 
    align-items: center; }
#colorlib-logo .logo-route .logo-new-game-news,
.admin-sidebar-header .logo-new-game-news {
    width: 25px;
    height: 25px; }
#colorlib-logo .logo-route .title-route,
.admin-sidebar-header .title-route {
    margin: 2.5px 0 0 5px;
    font-family: "Rubik", Arial, sans-serif !important;
    font-weight: 900; }
.cursor-pointer {
    cursor: pointer; }
/* Menu Toggle Button -  Mobile Screen */
.colorlib-nav-toggle.colorlib-nav-white > i,
.colorlib-nav-toggle:focus.colorlib-nav-white > i,
.colorlib-nav-toggle:active.colorlib-nav-white > i {
    background: rgba(255, 255, 255, 0) !important; }
.colorlib-nav-toggle.colorlib-nav-white > i::before, 
.colorlib-nav-toggle.colorlib-nav-white > i::after {
    background: var(--white); }
    
/* Subscribe Container */
#colorlib-subscribe {
    display: flex;
    justify-content: center;
    align-items: center; }
#colorlib-subscribe .first-container .container {
    background-color: var(--transparent-gray-1);
    border-radius: 15px;
    padding: 3rem 0;
    margin: 0;
    width: 500px; }
    @media screen and (max-width: 500px) {
        #colorlib-subscribe .first-container .container { 
            width: 100%;     
            padding: 3rem;
            border-radius: 0; } }
#colorlib-subscribe .first-container .container .form-group {
    margin-bottom: 0; }
#colorlib-subscribe .first-container .container .form-group .btn {
    margin: 0; }
#subscribe-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    @media screen and (max-width: 500px) {
        #subscribe-input {
            display: block; }
        #subscribe-input .form-group {
            display: flex; 
            justify-content: center; }
        #subscribe-input #email {
            margin-bottom: 20px; } }
/****** END OF LAYOUTS (all the things that apear on every page) ******/

/****** START OF COMPONENTS ******/ 
/* Recent News: side-categories.blade.php */
.sidebar {    
    padding-left: 0px; }
.categories-big-title {
    margin: 0 0 10px 0 !important; }

/* Recent News: side-recent-posts.blade.php */
.recent-news-big-title {
    margin: 0 0 10px 0 !important; }
.recent-news-container {
    margin: 0 0 25px 0 !important;
    padding-left: 0px !important; }
.recent-news-container .img-and-title-container-recent-news .recent-news-img {
    position: static !important;
    margin: 0 10px 0 0;
    width: 80px !important; 
    height: 50px !important; }
.recent-news-container .img-and-title-container-recent-news h4 {
    height: 50px !important;
    margin: 0 0 10px 0 !important; }
.recent-news-container .desc p {
    margin: 0 !important; }

/* Recent News: side-tags.blade.php */
.tags-big-title {
    margin: 0 0 10px 0 !important; }    

/* Pagination Buttons*/
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 10px 20px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px; }
    @media (max-width: 992px) {
    .pagination {
        display: flex;
        justify-content: center; } }
    @media (max-width: 600px) {
    .pagination > li > a, .pagination > li > span {
        padding: 7.5px 15px; } }
    @media (max-width: 400px) {
    .pagination > li > a, .pagination > li > span {
        padding: 2px 8px; } }
.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer; }
.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > span {
    color: var(--white);
    background-color: var(--dark-1); }
.pagination > li > a:hover,
.pagination > li > span:hover {
    color: var(--white);
    background-color: var(--gray-1);
    cursor: pointer; }
.pagination > .disabled > span:hover {
    color: var(--white);
    background-color: var(--gray-1); }
/****** END OF COMPONENTS******/ 

/****** PAGES ******/
/* Home Page */
.post-container {
    width: 100%; 
    display: flex; }
.post-container .link-img {
    width: 33%; 
    margin-right: 20px; }
.post-container .link-img .post-thumbnail {
    width: 100%;
    min-height: 230px; 
    object-fit: cover; }
.post-container .text {
    width: 67%; }
.post-container .text .heading {
    font-size: 35px;
    margin: 0; }
    @media (max-width: 600px) {
    .post-container .text .heading {
        font-size: 25px; } }
.post-container .text .heading a:hover{
    text-decoration: underline;
    color: var(--light-blue-1); 
    text-decoration-color: var(--light-blue-1); }
.post-container .text .excerpt {    
    font-size: 25px; 
    margin-bottom: 5px; }
    @media (max-width: 600px) {
    .post-container .text .excerpt {
        font-size: 18px; } }
.post-container .text .container-meta .meta {
    font-size: 16px;
    display: flex;
    bottom: 0; }    
.post-container .text .container-meta .meta .date { 
    margin-right: 20px; }
.post-container .text .container-meta .meta .author { 
    margin-right: 20px; }
    @media (max-width: 600px) {        
        .post-container .text .container-meta {
            display: flex;
            flex-direction: column;
            justify-content: flex-end; 
            min-height: 5px; }
        .post-container .text .container-meta .meta {
            justify-content: space-between;
            font-size: 13px; }
        .post-container { 
            display: block; }
        .post-container .text {
            width: 100%; }
        .post-container .text .heading,
        .post-container .text .excerpt {
            margin-bottom: 5px; } }
    @media (min-width: 1400px) {
        .container {
            width: 1400px; } }
/* Categories Page */
.categories-col .block-21 .text {
    width: 100%; }
.category-container {
    width: 300px;
    min-height: 200px; }
    @media screen and (max-width: 500px) {
        .category-container {
        width: 100%; } }

/* Platforms Page */

/* About Page */

/* Contact Page */

/* Others Page */

/* Post Page */
.thumbnail-container {
    position: relative;
    max-width: 100%; }
.thumbnail-container img {
    margin: 2rem 0; 
    display: block; 
    height: auto; 
    max-width: 100%; 
    background-repeat: no-repeat; 
    background-size: cover; }
.thumbnail-container .author-credit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.579);
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 10px;
    text-align: right; }
    @media (max-width: 1300px) {
    .thumbnail-container .author-credit {
        bottom: 3px;
        right: 3px;
        padding: 0 2.5px;
        border-radius: 3px;
        font-size: 8px; } }
    @media (max-width: 600px) {
    .thumbnail-container .author-credit {
        bottom: 1.5px;
        right: 1.5px;
        padding: 0 2px;
        border-radius: 2px;
        font-size: 6px; } }
.classes .desc2 {
    padding-top: 0;}
.comment-container {
    display: flex;
    margin-bottom: 2rem; }
.comment-container .desc h4 {
    margin: 0;}
/****** END OF PAGES ******/
/************ END OF USER SIDE ************/

/************ ADMIN SIDE ************/
.admin-approve-container {
    margin: 1.5rem 0; }
.admin-approve-container .form-check-input {
    width: 100px; 
    height: 30px;
    margin: 0 1.5rem 0 0; }
.admin-approve-container .form-check-label {
    font-size: 15pt; }
.update-delete-btn-container {
    display: flex;
    justify-content: space-around; }
.form-check-input:checked {
    background-color: #15ca20 !important;    
    border-color: #0faa1a !important; }
/************ END OF ADMIN SIDE ************/