.general-message {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 5;
    border: 5px solid;
    border-radius: 50px;
    font-size: 20pt;
    font-weight: 900;
    text-align: center;
    padding: 1rem 2rem;
}

.alert-info {
    background-color: #92ecff;
    color: #04adb6;
}

.alert-danger {
    background-color: #ff9292;
    color: #b60404;
}

/* Crop Modal */
.modal-dialog {
    max-width: 100%;
    margin: 1rem;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #f7f7f7;
    overflow: hidden;
}