.general-message {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 5;
    border: 5px solid;
    border-radius: 50px;
    color: #04adb6;
    font-size: 20pt;
    font-weight: 900;
    text-align: center;
    padding: 1rem 2rem;
}

.alert-info {
    background-color: #92ecff;
}